/* Navigation bar styling */
.stRadio > div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: #161A2D; 
    border-radius: 8px;
    margin-bottom: 0px; 
}

/* Styling for navigation buttons */
.stRadio > div label {
    font-size: 16px;
    font-weight: bold;
    color: #E2E8F0; 
    padding: 12px 25px;
    border: 2px solid #424769; 
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #424769; 
}

/* Change color on hover */
.stRadio > div label:hover {
    background-color: #F6B17A; 
    color: #1C2138;
    border-color: #F6B17A; 
}



/* Highlight selected button */
.stRadio > div label[data-selected="true"] {
    background-color: #0e7536; 
    color: #1C2138; 
    border-color: #F6B17A; 
}

/* Remove unwanted lines or borders */
.main > div { 
    border-top: none !important; 
    border-bottom: none !important; 
    box-shadow: none !important; 
}

/* Remove other horizontal lines */
hr {
    display: none; 
}
